<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>passes</key>
        <dict>

            <key>bloom_region_scene</key>
            <dict>
                <key>draw</key>
                <string>DRAW_SCENE</string>
                <key>program</key>
                <string>doesntexist</string>
                <key>metalVertexShader</key>
                <string>bloom_vertex</string>
                <key>metalFragmentShader</key>
                <string>bloom_fragment</string>
                <key>inputs</key>
                <dict>
                    <key>radius</key>
                    <string>radiusSymbol</string>
                </dict>
                <key>outputs</key>
                <dict>
                    <key>color</key>
                    <string>COLOR</string>
                </dict>
                <key>colorStates</key>
                <dict>
                    <key>clear</key>
                    <true/>
                    <key>clearColor</key>
                    <string>0.0 0.0 0.0 1.0</string>
                </dict>
            </dict>

        </dict>
        <key>sequence</key>
        <array>
            <string>bloom_region_scene</string>
        </array>
        <key>targets</key>
        <dict>
            <key>color_scene</key>
            <dict>
                <key>type</key>
                <string>color</string>
            </dict>
        </dict>
        <key>symbols</key>
        <dict>
            <key>radiusSymbol</key>
            <dict>
                <key>type</key>
                <string>float2</string>
            </dict>
            <key>vertexSymbol</key>
            <dict>
                <key>semantic</key>
                <string>vertex</string>
            </dict>
        </dict>
    </dict>
</plist>
