<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>passes</key>
	<dict>

		<key>pass_scene</key>
		<dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>inputs</key>
			<dict/>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>color_scene</string>
			</dict>
            <key>colorStates</key>
            <dict>
                <key>clear</key>
                <true/>
                <key>clearColor</key>
                <string>sceneBackground</string>
            </dict>
		</dict>

        <key>pass_scene_exc</key>
        <dict>
            <key>draw</key>
            <string>DRAW_SCENE</string>
            <key>program</key>
            <string>doesntexist</string>
            <key>metalVertexShader</key>
            <string>bloom_vertex</string>
            <key>metalFragmentShader</key>
            <string>bloom_fragment</string>
            <key>inputs</key>
            <dict/>
            <key>outputs</key>
            <dict>
                <key>color</key>
                <string>color_scene_exc</string>
            </dict>

        </dict>
		<key>pass_through</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>metalVertexShader</key>
			<string>pass_through_vertex</string>
			<key>metalFragmentShader</key>
			<string>pass_through</string>
			<key>inputs</key>
			<dict>
				<key>colorSampler</key>
				<string>COLOR</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
		<key>blur_vertical</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>metalVertexShader</key>
			<string>pass_through_vertex</string>
			<key>metalFragmentShader</key>
			<string>blur9_vertical</string>
			<key>inputs</key>
			<dict>
				<key>colorSampler</key>
				<string>color_scene_exc</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>color_scene_exc</string>
			</dict>
		</dict>
		<key>blur_horizontal</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>metalVertexShader</key>
			<string>pass_through_vertex</string>
			<key>metalFragmentShader</key>
			<string>blur9_horizontal</string>
			<key>inputs</key>
			<dict>
				<key>colorSampler</key>
				<string>color_scene_exc</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>color_scene_exc</string>
			</dict>
		</dict>

        <key>mix</key>
        <dict>
            <key>draw</key>
            <string>DRAW_QUAD</string>
            <key>program</key>
            <string>doesntexist</string>
            <key>metalVertexShader</key>
            <string>pass_through_vertex</string>
            <key>metalFragmentShader</key>
            <string>mix_add</string>
            <key>inputs</key>
            <dict>
                <key>color1Sampler</key>
                <string>color_scene_exc</string>
                <key>color2Sampler</key>
                <string>color_scene</string>
            </dict>
            <key>outputs</key>
            <dict>
                <key>color</key>
                <string>COLOR</string>
            </dict>
        </dict>

        
	</dict>
	<key>sequence</key>
	<array>
        <string>pass_scene</string>
		<string>pass_scene_exc</string>
		<string>blur_horizontal</string>
        <string>blur_vertical</string>
        <string>mix</string>
	</array>
    <key>targets</key>
    <dict>
        <key>color_scene</key>
        <dict>
            <key>type</key>
            <string>color</string>
        </dict>
        <key>color_scene_exc</key>
        <dict>
            <key>type</key>
            <string>color</string>
            <key>size</key>
            <string>250x250</string>
        </dict>
    </dict>
	<key>symbols</key>
	<dict>
        <key>resolutionSymbol</key>
        <dict>
            <key>type</key>
            <string>float</string>
        </dict>
        <key>radiusSymbol</key>
        <dict>
            <key>type</key>
            <string>float</string>
        </dict>

		<key>vertexSymbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
	</dict>
</dict>
</plist>
